/*#logout-button{
    float: right;
}*/
.website-body{
    display: flex;
    height: 100%;
    position: relative;
    top: -30px;
}
table, td, th{
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
.errmsg{
    font-style: italic;
    background-color: rgb(255,153,153);
}
.succmsg{
    font-style: italic;
    background-color: rgb(108,245,143);
}
#add-info-button, #tech-submit{
    margin-top: 3%;
    margin-left: 80%;
}
#logout-button > button{
    background-color: rgb(66, 167, 245);
    font-size: 20px;
    color: white;
    border: none;
}
#logout-button > button:hover{
    background-color: rgb(66, 117, 245);
}
.head{
    text-align: center;
    background-color: rgb(72,133,217);
    margin: 0px;
    margin-bottom: 10px;
    top: -20px;
    position: relative;
    width: 100%;
    height: 8%;
}
.tag-link{
    margin: 15%;
}
.nav-bar{
    padding: 0px;
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: lightblue;
    text-align: center;
}
.main-view{
    padding: 0px;
    display: inline-block;
    height: 100%;
}
.personal-info{
    display: inline-block;
    width: 40%;
    margin: 2%;
    height: 15%;
}
input[type=text], 
input[type=password],
input[type=emai]{
    width: 100%;
    height: 40%;
}

